.col-xs-2 {
	float: none;
	margin-top: 10px;
}

#toForm, #passengers, #depart, #return {
	margin-top: 20px;
}

#arrival, #departure {
	margin-top: 10px;
}

#bookingButton {
	margin-top: 20px;
	margin-left: 15px;
}

