{% extends "base.twig" %}

{% block content %}
<div class="container">
  {% if error is not null %}
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      {{error}}
    </div>
  {% endif %}
  <form class="form-signin" action="/login" method="post">
    <h2 class="form-signin-heading">Please sign in
      <a class="btn" type="submit" style="float: right" href="/account/new">Create Account</a>
    </h2>
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>
{% endblock %}
