{% extends "base.twig" %}

{% block content %}
<div class="container">
  <h2>Staff Information</h2>
  <ul>
    <li> Tickets
      <ul>
        <li><a href="/staff/tickets/avg">Average Ticket Sales on Route</a></li>
        <li><a href="/staff/tickets/max">Max Ticket Sales on Route</a></li>
        <li><a href="/staff/tickets/min">Min Ticket Sales on Route</a></li>
        <li><a href="/staff/tickets/sum">Sum Ticket Sales on Route</a></li>
        <li><a href="/staff/tickets/all">Customers who have booked all flights</a></li>
      </ul>
    </li>
  </ul>
</div>
{% endblock %}
